@media screen and (max-width: 990px) {
  .container {
    margin: 0 auto !important;
    text-align: center;
  }
}

.button-select::after {
  content: none;
}

.link-active {
  color: white;
}

.button-tabs {
  width: 100px;
}

@media screen and (max-width: 990px) {
  .tabs {
    justify-content: center;
  }

  .button-tabs {
    width: 100%;
  }
}

.modal-finance {
  background-color: #353535cf;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.wrapper-btn {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 990px) {
  .wrapper-btn {
    flex-direction: column;
  }

  .wrapper-btn button {
    width: 100%;
  }
}

.input-datepicker {
  margin: 0;
  display: inline-block;
  outline: none;
  padding: 0;
  border: none;
  border-bottom: 1px solid;
  width: auto;
  text-align: center;
  max-width: 86px;
  opacity: 0;
  position: relative;
  z-index: 100;
}
.input-datepicker::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  opacity: 0;
}
.date-text {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.input-datepicker:active {
  opacity: 1;
}

.input-datepicker:focus {
  opacity: 1;
}

.input-datepicker:active + .date-text {
  opacity: 0;
}

.input-datepicker:focus + .date-text {
  opacity: 0;
}

