@media screen and (max-width: 990px) {
  .container {
    margin: 0 auto !important;
    text-align: center;
  }
}

.button-tabs {
  width: 100px;
}

@media screen and (max-width: 990px) {
  .tabs {
    justify-content: center;
  }

  .button-tabs {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: no-wrap;
}

@media screen and (max-width: 990px) {
  .canvas-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.canvas-container {
  box-sizing: border-box;
  max-width: 445px;
}

.title-canvas {
  font-size: 28px;
  text-align: center;
  color: #290661;
}

.hr-element {
  width: 1px;
  height: 90%;
  background-color: #d9d9d9;
}

.button-select::after {
  content: none;
}

.button-select {
  color: #052c65;
}

.button-select.show {
  background-color: #0d6efd;
  color: white;
}

.input-datepicker {
  margin: 0;
  display: inline-block;
  outline: none;
  padding: 0;
  border: none;
  border-bottom: 1px solid;
  width: auto;
  text-align: center;
  max-width: 86px;
  position: relative;
  z-index: 100;
  opacity: 0;
}
.input-datepicker::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  opacity: 0;
}
.date-text {
  display: inline-block;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
