<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../../static/img/logo.png" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allfinance">Доходы & Расходы</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Категории
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a
                class="dropdown-item selecet-li-item"
                href="../pages/finance.html"
                >Доходы</a
              >
            </li>
            <li>
              <a
                class="dropdown-item selecet-li-item"
                href="../pages/expenses.html"
                >Расходы</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container d-flex ms-0 ps-0">
  <main class="main-block d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 layout-container">
      <a
        href="/"
        class="d-flex align-items-center justify-content-center mb-3 mb-md-0 text-decoration-none mt-3"
      >
        <img src="../static/img/logo.png" alt="logo" />
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto mt-4">
        <li class="nav-item">
          <a href="/" class="a-link nav-link text-primary-emphasis">
            <i class="bi bi-house-door me-1"></i>
            Главная
          </a>
        </li>
        <li class="nav-item">
          <a href="/allfinance" class="a-link text-primary-emphasis nav-link">
            <i class="bi bi-cash-coin me-1"></i>
            Доходы & Расходы
          </a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="text-primary-emphasis nav-link select-button w-100 btn dropdown-toggle d-flex align-items-center justify-content-between"
              id="btnCategory"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Категории
              <i class="bi bi-chevron-right"></i>
            </button>
            <ul class="dropdown-menu w-100 border border-primary p-0">
              <li>
                <a class="dropdown-item selecet-li-item" href="/finance"
                  >Доходы</a
                >
              </li>
              <li>
                <a class="dropdown-item selecet-li-item" href="/expenses"
                  >Расходы</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <a href="#" class="nav-link link-dark text-primary-emphasis">
        Баланс: <span class="ms-2 text-primary" id="balanceUser"></span>
      </a>
      <hr />
      <div class="dropdown d-flex justify-content-between align-items-center">
        <a
          href="javascript:void(0);"
          class="d-flex align-items-center link-dark text-decoration-none text-primary-emphasis"
        >
          <i class="bi bi-person-circle"></i>
          <span class="ms-2" id="nameUser"></span>
        </a>
        <a href="#" id="logout-icon">
          <i class="bi bi-box-arrow-in-right"></i>
        </a>
      </div>
    </div>
  </main>
  <div
    id="content-layout"
    class="content d-flex justify-content-start gap-5 p-2 p-lg-5 w-100"
  ></div>
</div>

<div
  class="modal fade modal-finance modal-logout"
  id="exampleModalCenter"
  tabindex="-1"
  aria-labelledby="exampleModalCenterTitle"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header mx-auto">
        <h1
          class="modal-title fs-5 text-center modal-title"
          id="exampleModalCenterTitle"
        >
          Вы действительно хотите выйти?
        </h1>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          id="btnTrueExit"
        >
          <a href="/logout" class="text-decoration-none text-white"
            >Да, выйти</a
          >
        </button>
        <button type="button" class="btn btn-danger" id="btnFalseExit">
          Не выходить
        </button>
      </div>
    </div>
  </div>
</div>
