<h1 class="text-primary-emphasis">Доходы и расходы</h1>
<div class="d-flex">
  <a href="/allfinance-create" class="btn btn-success me-2"> Создать доход </a>
  <a href="/allfinance-create" class="btn btn-danger me-2"> Создать расход </a>
</div>
<div class="tabs d-flex align-items-center gap-4 flex-wrap">
  <button type="button" class="btn btn-secondary button-tabs">Сегодня</button>
  <button type="button" class="btn btn-outline-secondary button-tabs">
    Неделя
  </button>
  <button type="button" class="btn btn-outline-secondary button-tabs">
    Месяц
  </button>
  <button type="button" class="btn btn-outline-secondary button-tabs">
    Год
  </button>
  <button type="button" class="btn btn-outline-secondary button-tabs">
    Все
  </button>
  <button type="button" class="btn btn-outline-secondary button-tabs">
    Интервал
  </button>
  <div>с</div>
  <a
    href="#"
    class="link-secondary link-offset-2 link-underline-opacity-100 link-underline-opacity-100-hover"
    >Дата</a
  >
  <div>по</div>
  <a
    href="#"
    class="link-secondary link-offset-2 link-underline-opacity-100 link-underline-opacity-100-hover"
    >Дата</a
  >
</div>
<div class="table-responsive">
  <table class="table text-center w-100">
    <thead>
      <tr>
        <th class="text-primary-emphasis" scope="col">№ операции</th>
        <th class="text-primary-emphasis" scope="col">Тип</th>
        <th class="text-primary-emphasis" scope="col">Категория</th>
        <th class="text-primary-emphasis" scope="col">Сумма</th>
        <th class="text-primary-emphasis" scope="col">Дата</th>
        <th class="text-primary-emphasis" scope="col">Комментарий</th>
        <th class="text-primary-emphasis" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td class="text-success">доход</td>
        <td>зарплата</td>
        <td>500$</td>
        <td>11.09.2022</td>
        <td></td>
        <td>
          <a href="#" class="link-dark text-decoration-none delete-category">
            <i class="bi bi-trash"></i>
          </a>
          <a href="/allfinance-update" class="link-dark text-decoration-none">
            <i class="bi bi-pencil"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td class="text-danger">расход</td>
        <td>жильё</td>
        <td>2 500$</td>
        <td>12.09.2022</td>
        <td></td>
        <td>
          <a href="#" class="link-dark text-decoration-none delete-category">
            <i class="bi bi-trash"></i>
          </a>
          <a href="/allfinance-update" class="link-dark text-decoration-none">
            <i class="bi bi-pencil"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal fade modal-finance"
  id="exampleModalCenter"
  tabindex="-1"
  aria-labelledby="exampleModalCenterTitle"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header">
        <h1
          class="modal-title fs-5 text-center modal-title"
          id="exampleModalCenterTitle"
        >
          Вы действительно хотите удалить категорию?
        </h1>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          Да, удалить
        </button>
        <button type="button" class="btn btn-danger">Не удалять</button>
      </div>
    </div>
  </div>
</div>
