<h1 class="text-primary-emphasis">Создание дохода/расхода</h1>
<form class="mt-3 d-flex flex-column gap-3" id="auth-form">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Тип..." />
  </div>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Категория..." />
  </div>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Сумма в $..." />
  </div>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Дата..." />
  </div>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Комментарий..." />
  </div>

  <div class="wrapper-btn">
    <a href="/allfinance"
      ><button id="auth-button" type="button" class="btn btn-success">
        Создать
      </button></a
    >
    <a href="/allfinance"
      ><button id="auth-button" type="button" class="btn btn-danger">
        Отмена
      </button>
    </a>
  </div>
</form>
