
<h1 class="text-primary-emphasis">Главная</h1>
<div class="tabs d-flex align-items-center gap-4 flex-wrap">
  <button type="button" class="btn btn-secondary button-tabs">Сегодня</button>
  <button type="button" class="btn btn-outline-secondary button-tabs">
    Неделя
  </button>
  <button type="button" class="btn btn-outline-secondary button-tabs">
    Месяц
  </button>
  <button type="button" class="btn btn-outline-secondary button-tabs">
    Год
  </button>
  <button type="button" class="btn btn-outline-secondary button-tabs">
    Все
  </button>
  <button type="button" class="btn btn-outline-secondary button-tabs">
    Интервал
  </button>
  <div>с</div>
  <a
    href="#"
    class="link-secondary link-offset-2 link-underline-opacity-100 link-underline-opacity-100-hover"
    >Дата</a
  >
  <div>по</div>
  <a
    href="#"
    class="link-secondary link-offset-2 link-underline-opacity-100 link-underline-opacity-100-hover"
    >Дата</a
  >
</div>
<div class="canvas-wrapper w-100 gap-4">
  <div class="canvas-container w-100">
    <h2 class="title-canvas">Доходы</h2>
    <canvas id="myChart"></canvas>
  </div>
  <div class="hr-element"></div>
  <div class="canvas-container w-100">
    <h2 class="title-canvas">Расходы</h2>
    <canvas id="myChart2"></canvas>
  </div>
</div>
