<h1 class="text-primary-emphasis">Главная</h1>
<div class="tabs d-flex align-items-center gap-4 flex-wrap" id="btn-wrapper">
  <button
    id="todayBtn"
    type="button"
    class="btn btn-outline-secondary button-tabs"
  >
    Сегодня
  </button>
  <button
    id="weekBtn"
    type="button"
    class="btn btn-outline-secondary button-tabs"
  >
    Неделя
  </button>
  <button
    id="monthBtn"
    type="button"
    class="btn btn-outline-secondary button-tabs"
  >
    Месяц
  </button>
  <button
    id="yearBtn"
    type="button"
    class="btn btn-outline-secondary button-tabs"
  >
    Год
  </button>
  <button
    id="allDateBtn"
    type="button"
    class="btn btn-outline-secondary button-tabs"
  >
    Все
  </button>
  <button
    id="intervalBtn"
    type="button"
    disabled
    class="btn btn-outline-secondary button-tabs"
  >
    Интервал
  </button>

  <div class="d-flex align-items-center justify-content-center gap-3">
    <div>с</div>
    <div class="date-wrapper position-relative">
      <input class="input-datepicker" type="date" id="datepicker" />
      <span class="date-text" id="span-datepicker">Дата</span>
    </div>
    <div>по</div>
    <div class="date-wrapper position-relative">
      <input class="input-datepicker" type="date" id="datepicker2" />
      <span class="date-text" id="span-datepicker2">Дата</span>
    </div>
  </div>
</div>
<div class="canvas-wrapper w-100 gap-4">
  <div class="canvas-container w-100">
    <h2 class="title-canvas">Доходы</h2>
    <canvas id="myChart"></canvas>
  </div>
  <div class="hr-element"></div>
  <div class="canvas-container w-100">
    <h2 class="title-canvas">Расходы</h2>
    <canvas id="myChart2"></canvas>
  </div>
</div>
